html{
    box-sizing: border-box;
    
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $text;

}
html,
body{
    position: relative;
    overflow-x: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $text;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    
}

.container__fluid{
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
@media(max-width:720px){
    .container-fluid{
        padding: 0 15px;
    }
}

.title{
    color: $bg;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.rate-star{
    display: inline-block;
    margin-right: 13px;
}
.angle-right{
    position: relative;
    padding-left: 15px;
    &::before{
        content: "\f105";
        font-family: 'icomoon';
        position: absolute;
        left: 0;
        color: $green;
        font-size: 14px;
    }
}
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &.page-grey{
        background-color: $grey;
    }
    .footer{
        margin-top: auto;
    }
}

.breadcrumbs{
    &__inner{
        padding: 50px 0 40px;
        overflow: hidden;
        width: 1200px;
    }
    &__list{
        li{
            display: inline-block;
            font-size: 15px;
            position: relative;
            margin-right: 20px;           
            span{
                color: $bg;
            }
        }
        a{
            font-size: 15px;
            color: #b0bec5;   
            &::after{
                content: "";
                width: 4px;
                height: 1px;
                background-color: $green;
                right: -14px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                
            }
        }
    }
}